<!DOCTYPE html>

<form action="/names" method="POST" id="name_form">
  <label for="name1">Player 1's name</label>
  <input type=text name="name1" id="name1"></input>
  <br>
  <br>
  <label for="name2">Player 2's name</label>
  <input type=text name="name2" id="name2"></input>
  <br>
  <br>
  <input type="submit" value="Submit"></input>
</form>